### A little inspection and cleanup of taxi data

Jeff Hale

In [1]:
import pandas as pd

In [91]:
df_movies = pd.read_csv("data/movie_data.csv", lineterminator='\n')#, dtype = {'_id':str, 'image_url':str,'imdb_id':str,'imdb_link':str,'movie_id':str,'movie_title':str,'original_language':str, 'overview':str,'tmdb_link':str})
# df_movies["genres"] = df_movies["genres"].fillna('').replace('[]', '').apply(lambda x: str(x)[1:-1].split(','))
# df_movies["production_countries"] = df_movies["production_countries"].fillna('').replace('[]', '').apply(lambda x: str(x)[1:-1].split(','))
# df_movies["spoken_languages"] = df_movies["spoken_languages"].fillna('').replace('[]', '').apply(lambda x: str(x)[1:-1].split(','))
print(len(df_movies))
df_movies.head(2)

285504

,_id,genres,image_url,imdb_id,imdb_link,movie_id,movie_title,original_language,overview,popularity,production_countries,release_date,runtime,spoken_languages,tmdb_id,tmdb_link,vote_average,vote_count,year_released
0,5fc85f606758f69634496fd3,"[""Music"", ""Animation""]",film-poster/4/6/4/4/4/0/464440-football-freaks...,NaN,NaN,football-freaks,Football Freaks,en,"Football crazy, football mad. Don’t watch this...",0.6,"[""United Kingdom""]",1971-12-05,0.0,[],535272.0,https://www.themoviedb.org/movie/535272/,0.0,0.0,1971.0
1,5fc85ff26758f696344ace0c,[],film-poster/2/4/5/5/0/0/245500-aftermath-0-230...,tt0586129,http://www.imdb.com/title/tt0586129/maindetails,aftermath-1960,Aftermath,en,Aftermath was the pilot for an unsold TV serie...,0.6,[],1960-04-17,22.0,[],318331.0,https://www.themoviedb.org/movie/318331/,8.0,1.0,1960.0

In [92]:
df_ratings = pd.read_csv("data/ratings_export.csv", lineterminator='\n')#,  dtype = {'_id':str,'movie_id':str,'user_id':str})
print(len(df_ratings))
df_ratings.head(2)

11078167

                        _id     movie_id  rating_val     user_id
0  5fc57c5d6758f6963451a07f   feast-2014           7  deathproof
1  5fc57c5d6758f6963451a063  loving-2016           7  deathproof

In [93]:
df_users = pd.read_csv("data/users_export.csv", lineterminator='\n')
print(len(df_users))
df_users.head(2)

8139

,_id,display_name,num_ratings_pages,num_reviews,username
0,5fc4172ec6cd28ebd99dd0e2,Lucy,32.0,1650,deathproof
1,5fc4172ec6cd28ebd99dd0ea,Matt Singer,52.0,1915,superpulse

We should fix the mixed dtypes

In [95]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])
df_movies.dtypes

_id                             object
genres                          object
image_url                       object
imdb_id                         object
imdb_link                       object
movie_id                        object
movie_title                     object
original_language               object
overview                        object
popularity                     float64
production_countries            object
release_date            datetime64[ns]
runtime                        float64
spoken_languages                object
tmdb_id                        float64
tmdb_link                       object
vote_average                   float64
vote_count                     float64
year_released                  float64
dtype: object

In [90]:
df_ratings.dtypes

_id           object
movie_id      object
rating_val     int64
user_id       object
dtype: object

In [83]:
df_users.dtypes

_id                   object
display_name          object
num_ratings_pages    float64
num_reviews            int64
username              object
dtype: object

## Transforms
### Change the date columns from string to datetime format

In [96]:
df_movies.head(2)

,_id,genres,image_url,imdb_id,imdb_link,movie_id,movie_title,original_language,overview,popularity,production_countries,release_date,runtime,spoken_languages,tmdb_id,tmdb_link,vote_average,vote_count,year_released
0,5fc85f606758f69634496fd3,"[""Music"", ""Animation""]",film-poster/4/6/4/4/4/0/464440-football-freaks...,NaN,NaN,football-freaks,Football Freaks,en,"Football crazy, football mad. Don’t watch this...",0.6,"[""United Kingdom""]",1971-12-05,0.0,[],535272.0,https://www.themoviedb.org/movie/535272/,0.0,0.0,1971.0
1,5fc85ff26758f696344ace0c,[],film-poster/2/4/5/5/0/0/245500-aftermath-0-230...,tt0586129,http://www.imdb.com/title/tt0586129/maindetails,aftermath-1960,Aftermath,en,Aftermath was the pilot for an unsold TV serie...,0.6,[],1960-04-17,22.0,[],318331.0,https://www.themoviedb.org/movie/318331/,8.0,1.0,1960.0

Because there are missing values, pandas converts to a float. We could have specified we wanted nullable integer dtype, but float is fine.

### Write out cleaned file

In [14]:
df.to_parquet("2022-07_yellow_cleaned.parquet", compression='gzip')

The end